.card {
  margin: 10px 5px;
  border: 1px solid #999;
  padding: 10px;
  border-radius: 10px;
}

.cardImg img {
  width: 250px;
  height: 250px;
  object-fit: contain;
}

.btn {
  display: block;
  background-color: transparent;
  padding: 5px 5px;
  cursor: pointer;
}
